<section>
    <div class="container" >
    <img src="../img/mapa.png" usemap="#image-map" >
    <map name="image-map" >
        <area  alt="Biblioteca" title="Biblioteca" href="/edificio" coords="798,247,928,301,874,434,745,382" shape="poly">
    </map>
    <map name="image-map">
        <area target="" alt="Dpto. Sistemas" title="Dpto. Sistemas" href="" coords="1064,813,1081,767,1165,802,1146,845" shape="poly">
    </map>
    <map name="image-map">
        <area target="" alt="Dpto. Sistemas" title="Dpto. Sistemas" href="" coords="1064,813,1081,767,1165,802,1146,845" shape="poly">
    </map>
    </div>
</section>
  