 <section>
    <div class="container" >
    <img src="../img/mapa.png" usemap="#image-map" >
    <map name="image-map" >
        <area  alt="Biblioteca" title="Biblioteca" href="/edificio" coords="798,247,928,301,874,434,745,382" shape="poly">
        <area  alt="Dpto. Sistemas" title="Dpto. Sistemas" href="/edificio" coords="1082,766,1167,799,1146,848,1062,815" shape="poly">
        <area  alt="Idiomas/C. Computo" title="Idiomas/C. Computo" href="/edificio" coords="970,778,1145,851,1130,891,952,820" shape="poly">
        <area  alt="Calafornix" title="Calafornix" href="/edificio" coords="723,375,862,471,837,526,673,481" shape="poly">
        <area  alt="600" title="600" href="/edificio" coords="1387,162,1518,212,1493,276,1360,223" shape="poly">
        <area  alt="Cubiculos" title="Cubiculos" href="/edificio" coords="1378,288,1499,337,1485,371,1362,320" shape="poly">
        <area  alt="Dpto. Quimica y Biologia" title="Dpto. Quimica y Biologia" href="/edificio" coords="1155,316,1227,346,1191,442,1117,410" shape="poly">
        <area  alt="Salones de quimica" title="Salones de quimica" href="/edificio" coords="1294,339,1346,355,1309,442,1259,422" shape="poly">
        <area  alt="Lab. alimento/Mtto. General" title="Lab. alimento/Mtto. General" href="/edificio" coords="1371,359,1454,393,1415,489,1332,455" shape="poly">
        <area  alt="Lab. Electromecanica" title="Lab. Electromecanica" href="/edificio" coords="1069,419,1180,462,1149,542,1035,500" shape="poly">
        <area  alt="Dpto. Electromecanica" title="Dpto. Electromecanica" href="/edificio" coords="1222,471,1372,533,1336,618,1187,556" shape="poly">
        <area  alt="Canchas" title="Canchas" href="/edificio" coords="690,233,886,308,851,397,656,323" shape="poly">
        <area  alt="Estacionamiento" title="Estacionamiento" href="/edificio" coords="769,105,1375,154,1287,269,726,201" shape="poly">
        <area  alt="500" title="500" href="/edificio" coords="927,543,1052,593,1035,642,906,590" shape="poly">
        <area  alt="400/Lab. Quimica" title="400/Lab. Quimica" href="/edificio" coords="1080,586,1229,639,1215,681,1064,628" shape="poly">
        <area  alt="Audiovisual/Ciencias Basicas" title="Audiovisual/Ciencias Basicas" href="/edificio" coords="800,568,978,639,961,682,783,610" shape="poly">
        <area  alt="Lab. Quimica" title="Lab. Quimica" href="/edificio" coords="1025,668,1194,734,1174,778,1007,710" shape="poly">
        <area  alt="Lab. Computo" title="Lab. Computo" href="/edificio" coords="1041,737,1066,748,1049,791,1021,780" shape="poly">
        <area  alt="Salones Q" title="Salones Q" href="/edificio" coords="858,750,911,771,862,897,808,876" shape="poly">
        <area  alt="Estacionamiento 2" title="Estacionamiento 2" href="/edificio" coords="1279,638,1357,675,1226,963,1146,924" shape="poly">
        <area  alt="Plaza civica" title="Plaza civica" href="/edificio" coords="761,653,864,692,775,915,670,872" shape="poly">
        <area  alt="300" title="300" href="/edificio" coords="562,582,739,654,722,695,542,625" shape="poly">
        <area  alt="Edificio en construccion" title="Edificio en construccion" href="/edificio" coords="1018,890,1134,936,1108,1005,992,961" shape="poly">
        <area  alt="200" title="200" href="/edificio" coords="492,695,684,771,665,820,473,745" shape="poly">
        <area  alt="100" title="100" href="/edificio" coords="466,806,644,874,626,917,448,849" shape="poly">
        <area  alt="Mtto. General" title="Mtto. General" href="/edificio" coords="375,890,395,902,358,977,338,963" shape="poly">
        <area  alt="Aulas moviles" title="Aulas moviles" href="/edificio" coords="418,887,448,901,402,993,371,976" shape="poly">
        <area  alt="Depto. Ing. Industrial" title="Depto. Ing. Industrial" href="/edificio" coords="457,905,546,951,505,1039,416,990" shape="poly">
        <area  alt="Sindicato/Servicios medicos" title="Sindicato/Servicios medicos" href="/edificio" coords="648,905,786,959,769,1002,629,948" shape="poly">
        <area  alt="Direccion/ RH" title="Direccion/ RH" href="/edificio" coords="910,965,1031,1011,1006,1083,881,1035" shape="poly">
        <area  alt="Cubiculos/Lab. Matematicas" title="Cubiculos/Lab. Matematicas" href="/edificio" coords="605,1034,800,1110,782,1157,585,1080" shape="poly">
        <area  alt="Sub. Academica" title="Sub. Academica" href="/edificio" coords="869,1066,989,1115,961,1183,839,1136" shape="poly">
        <area  alt="Transporte" title="Transporte" href="/edificio" coords="321,1037,374,1064,342,1130,289,1104" shape="poly">
        <area  alt="Lab. Ing. Industrial" title="Lab. Ing. Industrial" href="/edificio" coords="393,1040,480,1078,450,1157,361,1122" shape="poly">
        <area  alt="Materiales" title="Materiales" href="/edificio" coords="292,1118,381,1151,358,1199,272,1165" shape="poly">
        <area  alt="Cafeteria" title="Cafeteria" href="/edificio" coords="526,1143,683,1204,670,1242,512,1178" shape="poly">
        <area  alt="Estacionamientos de maestros" title="Estacionamientos de maestros" href="/edificio" coords="249,1187,374,1229,399,1157,583,1228,572,1271,190,1296" shape="poly">
    </map>
    </div>
</section>
